<div>
<span class="a-link-normal email shareText">${properties.sharingLabel}</span>
<a target="_blank" title="Share on Facebook" href="${properties.facebookSharingPath}"><i class="fa fa-facebook-official" aria-label="Facebook"></i></a>
<a id="twitter" target="_blank" title="Share on Twitter" href="${properties.twitterSharingPath}"><i class="fa fa-twitter" aria-label="Twitter"></i></a>
<a id="swfImageMailTo" class="a-link-normal email" title="Share via e-mail" href=""><span class="fa fa-envelope" aria-label="Favorite" role="img"></span></a>
</div>