<a id="swfMailTo" class="a-link-normal email shareText" title="Share via e-mail" href="">${properties.sharingLabel}</a>
<a id="swfImageMailTo" class="a-link-normal email" title="Share via e-mail" href=""><span class="fa fa-envelope" aria-label="Favorite" role="img"></span></a>
<a id="facebook" data-height="400" class="a-link-normal swf-social-site" target="_blank" title="Share on Facebook" href="${properties.facebookSharingPath}"><i class="fa fa-facebook-official" role="img" aria-label="Facebook"></i></a>
<a id="twitter" data-height="400" class="a-link-normal swf-social-site" target="_blank" title="Share on Twitter" href="${properties.twitterSharingPath}"><i class="fa fa-twitter" role="img" aria-label="Twitter"></i></a>
