.btn {
	margin: 10px 0;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 250px;
	box-sizing: border-box;
	word-break: break-all;
	font-family: sans-serif;
}


.btn-primary {
	.cmp-button {
		.btn();
		background: #2979be;
		border: 1px solid #165fab;
		color: #fff;
		&:hover {
			background: #0c4f95;
		}
	}
}

@media only screen and (max-width: 768px) {
  .btn-primary {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}


.btn-primary__disabled {
	.cmp-button {
		background: #9fbbd9;
		border: 1px solid #9fbbd9;
		color: #fff;
		.btn();
		&:hover {
			cursor: auto;
		}
	}
}

@media only screen and (max-width: 768px) {
  .btn-primary__disabled {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}

.btn-secondary {
	.cmp-button {
		.btn();
		border: 1px solid #666666;
		color: #666666;
		background: #ffffff;
		&:hover {
			background: #666;
			color: #ffffff;
		}
	}
}

@media only screen and (max-width: 768px) {
  .btn-secondary {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}

.btn-secondary__disabled {
	.cmp-button {
		.btn();
		border: 1px solid #666666;
		color: #666666;
		background: #d8d829;
		&:hover {
			cursor: auto;
		}
	}
}



@media only screen and (max-width: 768px) {
  .btn-secondary__disabled {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}

.quaternary .cmp-button {
    .btn();
    padding: 5px 10px;
    width: 100px;
    border: 1px solid #666666;
    color: #666666;
    background: #ffffff;

    &:hover {
			background: #666;
			color: #ffffff;
		}
}

.quaternary__disabled {
	.cmp-button {
		.btn();
        padding: 5px 10px;
    	width: 100px;
		border: 1px solid #666666;
		color: #666666;
		background: #d8d829;
		&:hover {
			cursor: auto;
		}
	}
}

.btn-ternary .cmp-button {
	.btn();
	border: 1px solid #ff471e;
	background: #ff471e;
	color: #ffffff;
}


@media only screen and (max-width: 768px) {
  .btn-ternary {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}

.btn-ternary__disabled {
	.cmp-button {
		.btn();
		border: 1px solid #efaa9b;
		color: #ffffff;
		background: #efaa9b;
	}
}

@media only screen and (max-width: 768px) {
  .btn-ternary__disabled {
	.cmp-button {
		width:150px;
        font-size: 12px

	}
}
}

.btn-phone-call {
	.btn();
	background: #2979be;
	border: 1px solid #165fab;
    width : 200px;
    padding: 10px 20px;
    margin: 0px;
	color: #fff;
	&:hover {
		background: #0c4f95;
	}
	&:before {
		content: "\f095";
		font: normal normal normal 14px/1 FontAwesome;
		padding-right: 3px;
	}
  }

.btn-ternary__disabled {
	.cmp-button {
		&:hover {
			cursor: auto;
		}
	}
}

link-primary {
	.cmp-button {
		color: #2979be;
		text-decoration: none;
	}
}





.button a.signin, .button a.signup {
	font-family: sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2979be;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid #165fab;
//    margin: 0;

    &:hover {
        background-color:#0c4f95;
    }

    .btn-cmp-signin-icon {
        padding-right: 3px;
    }
    
    @media (max-width: 768px) {
        span.cmp-button__text {
            display:none
        }
    }
}

.logout {
	font-family: sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2979be;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    width: 100%;
    border: 1px solid #165fab;
//    margin: 0;

    &:hover {
        background-color:#0067A8;
    }

    .btn-cmp-logout-icon {
        padding-right: 3px;
    }
    
    .btn-cmp-logout-text {
        cursor: auto;
        text-transform: capitalize;
        padding-right: 10px;
        overflow: hidden;
        @media (max-width: 768px) {
            display:none;
        }
    }
    
    @media (max-width: 768px) {
        span.cmp-button__text {
            display:none
        }
    }
}

.myaccount {
	font-family: sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #2979be;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    width: 100%;
    border: 1px solid #165fab;
//    margin: 0;

    &:hover {
        background-color:#0067A8;
    }

    .btn-cmp-myaccount-icon {
        padding-right: 3px;
    }

    @media (max-width: 768px) {
        span.cmp-button__text {
            display:none
        }
    }
}