/* button style */
.btn-primary .cmp-button{
         background: #2979be;
        border : 1px solid #165fab;
        color:#fff; 
        padding:10px 20px; 
        font-size:14px;
        cursor: pointer;
        width : 20%;
        &:hover{
            background: #0c4f95;
        }
}

.btn-secondary .cmp-button{
        border: 1px solid #666666; 
        color: #666666; 
        padding:10px 20px; 
        font-size:14px;
        cursor: pointer;
        width : 20%;
        background : #ffffff;
        &:hover{
            background: #666;
    	    color : #ffffff;
        }
}

.btn-ternary .cmp-button{
        border: 1px solid #ff471e; 
        color: #ffffff; 
        padding:10px 20px; 
        font-size:14px;
        cursor: pointer;
        width : 20%;
        background : #ff471e;
}

.link-primary .cmp-button{
       color: #2979be;
       text-decoration: none;
}






