.product {
	h4 {
		margin-left: 16px;
		font-size: 16px;
	}
	span {
		font-size: 16px;
	}
    
    #msg{font-size: 15px;}
}

.productcart {
    font-family: sans-serif;}

.cmp-cart-items {
	padding: 10px 20px 10px 20px;
	font-family: sans-serif;
	.cmp-cart-row {
		display: flex;
		flex-direction: row;
		background-color: #f0f1f2;
		align-content: center;
		.cmp-cart-item {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: auto;
			margin: 10px;
			justify-content: center;
			min-height:80px;
			.cmp-item-left {
				width: 12%;
				min-width: 150px;
				.cmp-cart-item-image {
					width: 100px;
					height: auto;
					display: block;
				}
			}
			.cmp-item-right {
				width: 85%;
				height: auto;
				display: flex;
				align-items: flex-start;
				color: #666;
				//justify-content: space-between;
				margin-left:15px;
				
				.cmp-item-productInfo{
				width:40%;
				text-align:left;
				}
				.cmp-cart-item-title {
					font-size: 14px;
					margin: 0 0 10px 0px;
					display: block;
					font-weight: bold;
				}
				.cmp-cart-item-size {
					font-size: 12px;
					display: block;
					
				}
				.cmp-cart-item-code {
					font-size: 12px;
					margin-left:0;
					width: 100%;
					display: block;
				}
			}
		}
		.cmp-cart-quantity {
			display: flex;
			flex-direction: row;
			width:25%;
			span {
				border-radius: 13px;
				background-color: #fff;
				border: solid 1px #ccc;
				color: #333;
				font-size: 13px;
				width: 25px;
				height: 25px;
				align-items: center;
				padding: 6px 0px 0px 0px;
				text-align: center;
				margin-left:5px;
			}
			.fa {
				fa-minus {
					border-radius: 13px;
					background-color: #fff;
					border: solid 1px #ccc;
					color: #333;
					font-size: 13px;
					width: 25px;
					height: 18px;
					align-items: center;
					padding: 6px 0px 0px 0px;
					text-align: center;
				}
				fa-plus {
					flex: 2;
					border-radius: 13px;
					background-color: #fff;
					border: solid 1px #ccc;
					color: #333;
					font-size: 13px;
					width: 25px;
					height: 18px;
					align-items: center;
					padding: 6px 0px 0px 0px;
					text-align: center;
					
				}
			}
			.cmp-cart-qty-input {
				width: 65px;
				border: solid 1px #ccc;
				margin-top: 0px;
				height: 24px;
				text-indent: 10px;
				margin-left: 5px;
			}
		}
		.cmp-cart-price {
			flex: 1;
			margin-top: 30px;
			margin-left: 60px;
			text-aling: center;
			color: #666;
			font-size: 13px;
			font-weight: bold;
			font-family: sans-serif;
		}
		.cmp-cart-total {
			text-aling: center;
			color: #666;
			font-size: 13px;
			font-weight: bold;
			width:15%;
			margin-left: 10px;
    		margin-top: 5px;
		}
		.cmp-cart-button {
			margin-left: 35px;
			width:15%;
			text-align:right;
			.cmp-btn-dange {
				border: none;
				border: solid 1px red;
				width: 40px;
				height: 50px;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.cmp-cart-items {
		background-color: #fff;
		padding: 10px;
		position: relative;
		.productcart {

			h4 {
				margin-left: 16px;
				font-size: 13px;
			}
			span {
				margin-left: 16px;
				font-size: 13px;
			}
		}
		.cmp-cart-row {
			background-color: #f0f1f2;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: auto;
			.cmp-cart-item {
				margin: 0;
				padding: 10px;
				.cmp-item-left {
					min-width: 80px;
					.cmp-cart-item-image {
						width: 100%;
						height: auto;
					}
				}
				.cmp-item-right {
					display: block;
					margin-left: 10px;
					.cmp-item-productInfo {
						width: 100%;
					}
				}
			}
			.cmp-cart-items {
				.cmp-item-left {
					.cmp-cart-item-image {
						padding: 0px 5px 0px 50px;
						width: 100px;
						height: auto;
						display: block;
					}
				}
			}
			.cmp-cart-quantity {
				display: flex;
				padding: 0px;
				margin-top:10px;
				span {
					border-radius: 50%;
					background-color: #fff;
					border: solid 1px #ccc;
					color: #333;
					font-size: 10px;
					min-width: 20px;
					height: 20px;
					padding: 4px 5px 5px;
					margin-left: 0;
					margin-right: 0;
				}
				.fa {
					fa-minus {
						border-radius: 13px;
						background-color: #fff;
						border: solid 1px #ccc;
						color: #333;
						font-size: 10px;
						width: 15px;
						height: 15px;
						padding-top: 5px;
						padding-left: 7px;
						margin-left: 12px;
						margin-right: -25px;
					}
					&.fa-plus {
					margin-left:5px;
					}
				}
				.cmp-cart-qty-input {
					width: 70px;
					border: solid 1px #ccc;
					padding: 12px;
					margin-top: 0px;
					margin-left: 5px;
					height: 15px;
					text-align: left;
					box-sizing: border-box;
				}
			}
			.cmp-cart-price {
				flex: 50%;
				order: 5;
				margin-top: 25px;
				margin-left: 0px;
				border-radius: 15px;
				width: 50px;
				background-color: #666666;
				color: white;
				padding: 4px;
			}
			.cmp-cart-total {
				margin: 10px 10px 10px 0;
				padding: 4px;
				color: #666;
				width:100%;
			}
			
			.cmp-cart-button{
			position: absolute;
			right: 25px;
			bottom: 28px;
			}
		}
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}
