.productfilter{
	position: relative;

    .cmp-productFilter{
	width: auto;
    border: 1px solid #e4e8e9;
    padding: 2px 2px 16px 2px;
	font-size:14px;
	
	@media screen and (max-width:768px){
		display: none;
		position: fixed;
    top: 0;
    width: 60% !important;
    background: #fff;
    min-height: 60%;
	left:0;
	}

	h3{
		font-size: 18px;
		text-transform: capitalize;
		border-bottom: 1px solid #e4e8e9;
		padding: 16px;
		margin: 0;
	}
	
	.cmp-productFilter-container{		
		padding: 16px 16px 0 16px;
		
		.cmp-productFilter-heading{
			font-size: 14px;
			font-weight: 700;
			position: relative;
			margin-left: 15px;
			cursor: pointer;
			
			&:before{
				content: "\f053";
				font-family: FontAwesome;
				font-size: 12px;
				font-weight: normal;
				margin-left: 5px;
				position: absolute;
				left: -20px;
				top: 2px;
			}
		}
		
		ul{
			margin: 5px 0 0 30px;
			padding: 0;
			display:none;
			
			li{
				list-style: none;
				padding: 0 0 5px 0;
				margin: 0;
                cursor: pointer;
			}
		}
	}

        .cmp-productFlter-clear{
			font-size:14px;
            margin:15px 0;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 15px;

            @media screen and (max-width:769px){
				display:none;
            }
        }
	
}

    .cmp-productFilter-mobile{
		display:none;
		width: 100%;
		
        @media screen and (max-width:768px){
			display:block;
                background: #fff;
        }
		
		.cmp-productFilter-open, .cmp-productFilter-close{
			display:flex;
			justify-content: space-around;
			text-transform: uppercase;
			margin: 10px 0;
			color: #545768;
			font-family: sans-serif, Arial;
			font-size: 14px;
			
			span{
				text-align: center;
				width: 50%;
				padding: 10px 0;
				cursor: pointer;
				
				&:nth-child(1){
					border-right:1px solid #e4e8e9;
				}
			}
		}
		
		.cmp-productFilter-close{
			display:none;            
		}
    }
}


.cmp-product-filterTile{
	&:nth-child(1){
		width: 22% !important;
		
		@media screen and (max-width:768px){
			width:100% !important;
			    position: fixed;
    bottom: 0;
		}
	}
	
	&:nth-child(2){
		margin-left: 2% !important;
		width: 75% !important;
		
		@media screen and (max-width:768px){
			width:100% !important;
			margin-left:0 !important;
		}
	
	.cmp-container{		
		width:100%;
		
		&>div{

			.tile{
				width: 25%;
				margin: 0;
				//float: none;
				
				@media screen and (max-width:1024px){
					width:33%;
				}
				
				@media screen and (max-width:1024px){
					width:49%;
				}

                    @media screen and (max-width:440px){
					width:99%;
                        float: none;
				}
				
				.product-listing-tile{
					width:100%;
					padding:10px;
					
					.img.image{
						&>div{
						width:100%;
						height: 200px;
						
						img{
							width: 100%;
							height: auto;
							margin: 0;
                            max-height: 200px;
						}
						}
					}
					
					.cmp-productTile-heading{
						    font-family: Arial, sans-serif;
							font-size: 14px;
							font-weight: 700;
                            margin-top: 10px;
					}
					
					.cmp-productTile-btn{
						.btn.button.btn-primary{
							width: 100%;
							text-align: left;
							padding: 0;

                                 @media screen and (max-width:440px){
                                    text-align: center;
                                }
							
							.cmp-button{
								width:80%;
                                    span{
    									white-space: nowrap;
                                    }
							}
						}
					}
				}
			}
		}
	}
	}	
}