.cart-detail-container{
    .coupon-text{
        display: none;
    }
    .apply-coupons{
        margin :20px 0;
        
        width: 300px;
        justify-content: space-between;
    }
    .apply-coupon-button{
		display: inline-block;
    }
    .price-details{
        margin :20px 0;
        &>div{
            margin : 12px 0;
            display: flex;
            width: 200px;
            justify-content: space-between;
            &:last-child{
            margin-top : 30px;
        }
        }
        
        
    }
}