.cart-detail-container{
    box-shadow: 0 0 10px #eae4e4;
    padding: 20px;
    font-family: Sans Serif, Arial;

    .coupon-text{
        display: none;
    }
    .apply-coupons{
        margin :5px 0;
        position: relative;
        justify-content: space-between;
    }
    .apply-coupon-button{
		display: inline-block;
    }
    .price-details{
        margin :20px 0;
        &>div{
            margin : 12px 0;
            display: flex;
            width: 250px;
            justify-content: space-between;
            &:last-child{
            margin-top : 30px;
        }
        }

        
    }

}
.coupon-message{
	position: absolute;
    top: 25px
}

.cart-detail-container__apply-coupon
{
    width: 155px;
    margin-right: 20px;
    padding: 5px 0;
}

.coupon-bag-separator
{
	margin-top: 30px;
}