<h3>NEWS LETTER</h3>
<form method="POST" action="" id="newslette_form" name="newslette_form" enctype="multipart/form-data"  data-default="${properties.defaultPage}.html" class="cmp-newsletter-form" onsubmit="event.preventDefault();return validateNewsLetterFrom(event);">
    <input class="" type="email" id="newsLetterMail" placeholder="Enter Your Email ID" name="newslettermail">
    <button type="SUBMIT" id="newsletter" class="btn-newsletter" name="newsletter">Subscribe</button>
    <div class="cmp-newsletter-errormsg" id="cmp-newsletter-errormsg" style="visibility: hidden"></div>
</form>