<div class="cmp-signup">
	<div class="title">
		<div class="cmp-signup-title">
		  <h5 class="cmp-title__text"> Register </h5>
		  <span>Don't have account? Create your account, it takes less than a minute.</span>
		</div>
	</div>
	<form method="POST" action="" id="signup_form" name="signup_form" enctype="multipart/form-data"  data-default="/content/hclecomm/us/en/home.html" class="cmp-signup-form" onsubmit="event.preventDefault();return validateSignupFrom(event);">

		<div class="cmp-form-text">
		  <input class="" type="text" id="firstname" placeholder="First Name *" name="firstname" required>
		</div>
		<div class="cmp-form-text right">
			<input class="" type="text" id="lastname" placeholder="Last Name" name="lastname">
		</div>
		<div class="cmp-form-text">
		  <input class="" type="email" id="email" placeholder="Your Email *" name="email" required>
		</div>
		<div class="cmp-form-text right">
			<input class="" type="text" pattern="\d*" id="phone" placeholder="Your Phone Number *" minlength="8" maxlength="10" name="phone" required>
		</div>
		
		<div class="cmp-form-text">
		  <input class="" type="password" id="password" placeholder="Password *" name="password" autocomplete="off" required>
		</div>
		<div class="cmp-form-text right">
			<input class="" type="password" id="cfpassword" placeholder="Confirm Password *" name="cfpassword" autocomplete="off" title="Same as Password" required>
		</div>
	  
		
		<div class="cmp-form-button">
		  <div class="cmp-form-button-text">
			<input class="" type="checkbox" id="terms" name="terms" title="Accept terms & condtions" ><label for="terms" title="Accept terms & condtions">I accept <a href="#">terms & condtions </a> </label>
		  </div>
		  <div class="cmp-signup-errormsg" id="cmp-signup-errormsg" style="visibility: hidden"></div>
		  <div class="cmp-form-button-text">
				<button type="SUBMIT" id="signup" class="btn-signup" name="signup">Sign-up</button>
		  </div>
		</div>
	</form>
</div>