.contactus{
    position: relative;
    .button{
        margin-top: 50px;
    }
    .cmp-contactus-errormsg{
        color: red;
        text-align: left;
        font-size: 11px;
        width: 100%;
        float: right;
        font-family: sans-serif;
        margin: 5px 0;
    }
    .text{ 
        padding:10px 5px;
        @media only screen and (max-width: 1024px) {
			float: none !important;
            //margin:5px 0;

    	}
    }
    .cmp-form-text{
        float: none;
    }


}