.wish-list-item{
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 10px #eae4e4;
        margin-bottom: 10px;
        padding: 0 25px;
    }
    .wish-list-item--right-container, .wish-list-item--left-wist{
        display: flex;
        width : 20%;
        align-items: center;
    }

 

    .wish-list-item--right-container{
        justify-content: space-between;
        
    }