.newsletter{
    background-color: #2d2d2d;
    padding: 20px;
    color: #8b8b8b;
    font-family: sans-serif, Arial;
    h3{
        font-weight: normal;
    }
    .cmp-newsletter-form{
        input{
            padding: 12px;
            background-color: #3d3d3d;
            border: 0;
            color: #fff;
            font-size: 16px;
            &:focus{
                outline: 0;
            }
            &::placeholder {
                color: #8b8b8b;
                font-size: 14px;
              }
        }
        button{
            background-color: #165fab;
            color: #fff;
            font-size: 14px;
            border: 0;
            padding: 12px 20px;
            cursor: pointer;
        }
    }
}