<div class ='product-details-cmp'>
   <div class ='product-details-cmp__img aem-Grid aem-Grid--9 aem-Grid--default--12'>
      <img src="${properties.fileReference}" alt="image"/>
   </div>
   <div class ='product-details-cmp__product-details aem-Grid aem-Grid--3 aem-Grid--default--12'>
      <h4 class ='product-details-cmp__prduct-name'>${properties.productName} </h4>
		<!--span class ='product-details-cmp__prduct-price' replace with api </span-->
      <span class ='product-details-cmp__prduct-price'>550 </span>
      <p>${properties.description @ context='html'} </p>
      <sly data-sly-resource="${'accordion' @ resourceType='hclecomm/components/content/accordion', decoration=true}"> </sly>
      <h4>${properties.fashionSize} </h4>
      <div data-sly-use.productsize="productdetails.js">
         <ul data-sly-list.product="${productsize.sizeSelect.listChildren}" class ='product-details-cmp__product-size'>
    		<li class ='product-details-cmp__product-size--item'>${product.size}</li>
    	 </ul>
         <h4>${properties.selectedFashionSize} </h4>
      </div>
      <h4>${properties.quantity} </h4>
      <sly data-sly-resource="${'btn' @ resourceType='hclecomm/components/content/button', decoration=true}"> </sly>
   </div>
</div>