.add-new-address-form-add-address{

      padding: 15px;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    }

 

     .add-addr-feilds-add-address {
    width: 100%;
    padding: 10px;
    
  }
.add-new-address-bottom-container{
	width: 90%;
    padding: 15px;
    padding-left: 56px;
}

.add-address-btn{
padding-left:inherit;
    button{
		background-color:#2796be;
        border:0;
        color:#ffffff;
    }
}


  .error-message-add-address {
    color: #ff0000;
    font-size: 13px;
  }
 @media only screen and (max-width: 768px) {
    .cmp-my-address--add-address{
        margin-bottom:20px;
	width:50%;
    justify-content: center;
    }

    .cmp-my-address{
	flex-direction: column;
    align-items: center;
    }

    .add-new-address-form-add-address{
	width:100%
    }
    .add-new-address-bottom-container {
    padding-left: 25px;
	}

    .add-address-btn{
		padding-left: 0px;
      button{
            width:205px;
    }
}


    }