.fa-twitter {
 background: white;
 color: #55ACEE;
 }
 .fa-facebook-official{
 background: white;
  color: #3A559F;
 }
.shareText{
	color: #2a61b6;
}

.SocialShare{

    font-size:13px;
    line-height:19px;
    width: 20%;
   
}

