.input-style{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid #d1d1d1;
    border-radius: 5px;    
    &:focus{
        outline: 0;
    }
    @media only screen and (max-width: 1024px) {
            margin:5px 0;
            width: 100%;  
    }
    @media only screen and (max-width: 768px) {       
            font-size: 12px;  
              
    }

}
.text-box {
	.input-style();
}
.text-area {
    .input-style();
    resize: none;
    min-width:192px;
}
.form-label{
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    @media only screen and (min-width: 1024px) {
        display: block;
			& + .text-box , & + .text-area{
        		float: right;
    		}
    }
    .star{
        color: red;
    }
}

.float-right{
    	.cmp-form-text{
            input{
            	float: right;
            }
    }
}

