<div>
Product Filter component.
    <div data-sly-use.model="com.hcl.ecomm.core.models.ProductFilterModel">
   <h3>${model.filter}</h3>

        
            <div data-sly-list.gender="${model.genderclothingList}">
                <div>
                    <div>Gender Type: ${gender.selectClothing}</div>
                    <br>
                    <div data-sly-list.clothes="${gender.clothingList}">

                        <div>Clothes Type: ${clothes.clothes}</b></div>
                        <br>
                    </div>
                </div>
            </div>

    </div>
</div>