footer {
  display: block;
    margin-top:30px;
  border-top: 1px solid #e5e5e5;
  background: #272727;
  color: #8b8b8b;
    .cmp-image .cmp-image__image {
    width: 100%;
    margin-top: 45px;
  }
}
