.checkouttotal-cmp{
	.product-item-container{
		display: flex;
        &>div>div{
		margin-bottom:20px;
        }
    }
    .check-out-total-product-img{ 
		width: 200px; 
    }
    .total-order{
		width: 26%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 21px 0 10px 36px;

    	}

}