<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
     <sly data-sly-call="${clientlib.css @ categories='hclecomm.base'}" />
     <sly data-sly-call="${clientlib.all @ categories='hclecomm.dependencies'}" />
</sly>

<!--/* Favicon */-->
<sly data-sly-include="/apps/hclecomm/components/structure/page/favicons.html"></sly>
<!--/* Include Context Hub */-->
<!--<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/> -->
<span class ="checkmode" checkmode = "${wcmmode.edit ? 'edit' : 'notEdit'}" data-tag="${pageProperties.cq:tags}"/>

