<div class ='cart-detail-container'>
<span>${properties.couponSectionHeading}</span>

    <div class='apply-coupons'>
		<input type ='text' value ='' class ='cart-detail-container__apply-coupon' placeholder=${properties.applyCouponInputLabel}>
        <div class= 'apply-coupon-button' onclick = 'onApplyCoupon()' data-sly-resource="${'./button1' @ resourceType='hclecomm/components/content/button', decoration=true}"> </div>
		<div class = 'coupon-message'> <p class ='apply-coupon-validation'> </p> </div>
	</div>

	<div class = 'coupon-bag-separator' data-sly-resource="${'./separator' @ resourceType='hclecomm/components/content/separator', decoration=true}"> </div>

    <div class='price-details'>
        <b>${properties.priceDeailHeading}</b>
        <div>
            <span>${properties.bagTotalLabel}</span>
			<div>
				<span> $ </span>
            	<span class = 'total-bag-count'>155</span>
			</div>
        </div>
        <div class = 'bag-discount'>
            <span>${properties.bagDiscountLabel}</span>
			<div>
			<span> -$ </span>
            <span class = 'bag-discount-amount'>10</span>
			</div>
        </div>
        <div class = 'coupon-discount'>
            <span>${properties.couponDiscountLabel}</span>
			<div>
			<span> -$ </span>
            <span class="coupon-discount-amount">0</span>
			</div>
        </div>
        <div>
            <span>${properties.orderTotalLabel}</span>
			<div>
			<span> $ </span>
            <span class = 'order-price'>20</span>
			</div>
        </div>
        <div>
            <span>${properties.deliveryChargesLabel}</span>
			<div>
			<span> $ </span>
            <span class = 'delivery-charges'>160</span>
			</div>
        </div>
		 <div>
            <span>${properties.totalLabel}</span>
			<div>
			<span> $ </span>
            <span class='total-price'></span>
			</div>
        </div>
    </div>
	<div class="place-order-button" onClick= 'onClickUpdateItem()'  data-sly-resource="${'./button2' @ resourceType='hclecomm/components/content/button', decoration=true}"> </div>

</div>

