
<div class ='cart-detail-container'>
<span>${properties.couponSectionHeading}</span>

    <div class='apply-coupons'>
        <b>Apply Coupns</b>
       	<div class ='coupon-text'>
			<input type ='text'>
		</div>
        <sly data-sly-resource="${'./button' @ resourceType='hclecomm/components/content/button', decoration=true}"> </sly>

	</div>   
    <div class='price-details'>
        <b>${properties.priceDeailHeading}</b>
        <div>
            <span>${properties.bagTotalLabel}</span>
            <span>155</span>
        </div>
        <div>
            <span>${properties.bagDiscountLabel}</span>
            <span>-15</span>
        </div>
        <div>
            <span>${properties.couponDiscountLabel}</span>
            <span>200</span>
        </div>
        <div>
            <span>${properties.orderTotalLabel}</span>
            <span>20</span>
        </div>
        
        <div>
            <span>${properties.deliveryChargesLabel}</span>
            <span>160</span>
        </div>
    </div>
	<sly data-sly-resource="${'./button' @ resourceType='hclecomm/components/content/button', decoration=true}"> </sly>

</div>

