<div class="cmp-confirmation">
  <div class="cmp-confirmation-img"><i class="fa fa-check-circle"></i></div>
  <div class="cmp-confirmation-orderNo">

 

  </div>
  <div class="cmp-confirmation-container">
    <div class="cmp-confirmation-lft">
      <h4>Delivery Details</h4>
      <div class="cmp-confirmation-section-customer-name">

 

      </div>
      <div class="cmp-confirmation-section-customer-address">

 

      </div>
      <div class="cmp-confirmation-section">
        <div class="cmp-confirmation-subHead">Delivery Method</div>
        <div class="cmp-confirmation-text">
          Standard Delivery: Please<br />read below to see what your items will
          be delivered
        </div>
      </div>
    </div>
    <div class="cmp-confirmation-rgt">
      <h4>Order Summary</h4>
      <div class="cmp-confirmation-productInfo">

 

      </div>
      <div class="cmp-confirmation-total">
        <div>Sub Total</div>
        <div>$50.20</div>
      </div>

 

    </div>
  </div>
  <div class="cmp-confirmation-paymentInfo">
    <h4>Payment Information</h4>
    <div>
      <div class="cmp-confirmation-cardInfo">
          <span>Credit Card</span>
        <div class="cmp-confirmation-subhead-card-details"></div>

 

      </div>

 

      <div class="cmp-confirmation-bilingInfo">
        <div class="cmp-confirmation-subhead">Credit Card</div>
        <div>Lorem Ipsum is simple dummy</div>
      </div>
    </div>
  </div>
</div>

<div class="confirmation-failure toggle-order">

    Your order has not been generated.

</div>