<div class="cmp-confirmation">
  <div class="cmp-confirmation-img"><i class="fa fa-check-circle"></i></div>
  <div class="cmp-confirmation-orderNo">
    <span>We have received your order</span>
    <span>Order No.123456</span>
  </div>
  <div class="cmp-confirmation-container">
    <div class="cmp-confirmation-lft">
      <h4>Delivery Details</h4>
      <div class="cmp-confirmation-section">
        <div class="cmp-confirmation-subHead">Delivery for</div>
        <div class="cmp-confirmation-text">Lorem ipsum</div>
      </div>
      <div class="cmp-confirmation-section">
        <div class="cmp-confirmation-subHead">Address</div>
        <div class="cmp-confirmation-text">Lorem ipsum</div>
      </div>
      <div class="cmp-confirmation-section">
        <div class="cmp-confirmation-subHead">Delivery Method</div>
        <div class="cmp-confirmation-text">
          Standard Delivery: Please<br />read below to see what your items will
          be delivered
        </div>
      </div>
    </div>
    <div class="cmp-confirmation-rgt">
      <h4>Order Summary</h4>
      <div class="cmp-confirmation-productInfo">
        <div>Product Name</div>
        <div>Qty: <span>1</span></div>
        <div>$26</div>
      </div>

      <div class="cmp-confirmation-productInfo">
        <div>Product Name</div>
        <div>Qty: <span>1</span></div>
        <div>$26</div>
      </div>

      <div class="cmp-confirmation-total">
        <div>Sub Total</div>
        <div>$50.20</div>
      </div>
      <div class="cmp-confirmation-total">
        <div>Standard Delivery</div>
        <div>$05.20</div>
      </div>
      <div class="cmp-confirmation-total">
        <div><b>Total</b></div>
        <div><b>$50.20</b></div>
      </div>
    </div>
  </div>
  <div class="cmp-confirmation-paymentInfo">
    <h4>Payment Information</h4>
    <div>
      <div class="cmp-confirmation-cardInfo">
        <div class="cmp-confirmation-subhead">Credit Card</div>
        <div>Card Number: **** **** **** 5996</div>
        <div>Expiry Date: 03/22</div>
        <div>Amount: $55.00</div>
      </div>

      <div class="cmp-confirmation-bilingInfo">
        <div class="cmp-confirmation-subhead">Credit Card</div>
        <div>Lorem Ipsum is simple dummy</div>
      </div>
    </div>
  </div>
</div>
