.switch {
  position: relative;

  .dark-mode-toggle {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: transparent; 
      cursor: pointer;
      z-index: 200;
      top: -20px;
      right: 2px;
      // color: var(--color-text);
      // border: 2px solid var(--bg);
      color: #2979be;
      border: 2px solid #2979be;
      padding: 5px;
      outline: none;

      &:hover {
        outline: none;
      }
  }
}