<a href = "${properties.cartUrl @ extension = 'html'}" id='cart-item-count'>
<div class ='min-cart-container' onclick="showEmptyCartNotification()">
    <i class="fa fa-shopping-cart min-cart-container__cart-icon" aria-hidden="true"></i>
    <div class ='min-cart-text-count'>
        <span class=" min-cart-text-count__my-text"> ${properties.title} </span>
        <span class=" min-cart-text-count__cart-item-count" id ='total-item-count'>0</span>
    </div>
	<div id="notification" style="display: none;">

	</div>
 </div>
</a>