 <div class ='cmp-my-accounts'>
    <div class ='cmp-my-accounts--upper-container'>
    <div class ='cmp-my-accounts--inner-container'>
        <div class ='cmp-my-accounts--inner-container__upper-container'>
            <i class="cmp-my-accounts--icon fa fa-shopping-cart" aria-hidden="true"></i>
            <div class ='cmp-my-accounts--my-orders__upper-container-heading'>
                 <span>${properties.yourOrderTitle}</span>
            </div>
        </div> 


        <div class ='cmp-my-accounts--inner-container__lower-container'>
            <p>${properties.yourOrderDescription}</p>
        </div> 
    </div> 


    <div class ='cmp-my-accounts--inner-container'>
        <div class ='cmp-my-accounts--inner-container__upper-container'>
            <i class="cmp-my-accounts--icon fa fa-user" aria-hidden="true"></i>
            <div class ='cmp-my-accounts--my-orders__upper-container-heading'>
                 <span>${properties.loginDetailsTitle}</span>
            </div>
        </div> 


        <div class ='cmp-my-accounts--inner-container__lower-container'>
            <p>${properties.loginDetailsDescription}</p>
        </div> 
    </div>   
</div>
<div class ='cmp-my-accounts--lower-container'>
    <div class ='cmp-my-accounts--inner-container'>
        <div class ='cmp-my-accounts--inner-container__upper-container'>
            <i class="cmp-my-accounts--icon fa fa-map-marker" aria-hidden="true"></i>
            <div class ='cmp-my-accounts--my-orders__upper-container-heading'>
                 <span>${properties.yourAddressTitle}</span>
            </div>
        </div> 


        <div class ='cmp-my-accounts--inner-container__lower-container'>
            <p>${properties.yourAddressDescription}</p>
        </div> 
    </div>   



    <div class ='cmp-my-accounts--inner-container'>
        <div class ='cmp-my-accounts--inner-container__upper-container'>
            <i class=" cmp-my-accounts--icon fa fa-credit-card" aria-hidden="true"></i>
            <div class ='cmp-my-accounts--my-orders__upper-container-heading'>
                 <span>${properties.paymentDetailsTitle}</span>
            </div>
        </div> 


        <div class ='cmp-my-accounts--inner-container__lower-container'>
            <p>${properties.paymentDetailsDescription}</p>
        </div> 
    </div>     
</div>
</div>
