.check-out-container {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  .checkout-title-number {
    max-height: 105px;
    .title,
    .cmp-title,
    .cmp-title__text {
      display: inline-block;
    }
  }
  .customer_desc {
    display: flex;
    align-items: center;
    .guest-text-box-validation-mssg {
      position: relative;
      .customer-validation-message__chang-pos {
        position: absolute;
      }
    }
    .checkout-guest-mail-id {
      padding: 10px;
      margin-right: 20px;
    }
  }
  .check-out-number {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 14px;
  }
  .check-out-number+span {
    font-size: 18px;
  }
  .checkout-title-edit-section {
    display: flex;
    justify-content: space-between;
  }
  .check-out-section {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
  }
      .billing-cvv-section{
  display: flex;
    margin-top: -20px !important;
    flex-direction: column;
  }
  .check-out-section-description,
  .edit-check-out-section,
  .add-new-address-form,
  .add-new-billing-address,
  .toggle-icon {
    display: none;
  }
  .toggle-checkout-description {
    display: block;
  }
  .add-addr-feilds {
    width: 200px;
    padding: 10px;
  }

  .add-new-address-form>div {
    width: 461px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .add-new-address-form>div>div {
    position: relative;
  }
  .error-message {
    position: absolute;
    top: 30px;
    color: #ff0000;
    font-size: 13px;
  }
  .txt-area-err-message {
    top: 38px;
  }
  .customer-validation-message,
  .cvv-validation-mssg {
    color: #ff0000;
    font-size: 13px;
    margin: 3px 0px;
  }
  .add-address-btn {
    justify-content: start;
  }
  .continue-btn-add {
    margin-right: 40px;
  }
  .billing-cvv {
    margin-top: 30px;
  }
  .billing-cvv>div {
    margin-top: 20px;
    margin-left: 44px;
  }
  .billing-cvv>span {
    margin-left: 30px;
  }
  .text-area-chng-width {
    width: 455px;
    min-height: 46px;
  }

  .billing-cvv-section-validation {
    display: flex;
    flex-direction: column;
  }
  .cvv-text {
    width: 200px;
  }
  .add-new-add-icon {
    color: #497bee;
    width: 200px;
    cursor: pointer;
  }
  .add-new-plus-icon {
    margin-right: 10px;
  }
  .cvv-number{
    padding : 10px;
    margin-right : 20px;
  }
    .billing-cvv-section-validation--btn{
    display: flex;
  }


    .card-number-new{
  padding : 10px;
    margin-right : 20px;
    }

   .new-crad-number-validation {
  margin-bottom: 39px;
    margin-right : 20px;

    .new-cvv-validation-mssg{
    position: absolute;
    color: #ff0000;
    font-size: 13px;
    margin: 6px 0;
     }
    }

}