.cmp-text {
	font-size: 14px;
	font-family: sans-serif,Arial;
}

@media only screen and (max-width: 768px) {  
    .cmp-text{
		font-size: 12px;
	}
}

.cmp-my-accounts--icon{
        color: #ff471e;
        font-size: 29px;
}

	.cmp-ratingCount .cmp-text a {

    	font-size: 16px;
    	color: #2979be;
	}
	.cmp-ratingCount .cmp-text a:hover {
         text-decoration: underline;
    color: #ffa700;

    }
.cmp-ratingCount .cmp-text p {
        display: inline-block;
    margin: 6px;
}

@media only screen and (max-width: 600px) { 
   .cmp-ratingCount{
    width: 50% !important;
    margin-left: 16px !important;
}

}
